{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h1>Interventions</h1>
        <a class="btn btn-danger" href="{% url 'status' %}">STATUS</a>
            <table class="table">
                <thead>
                <th>Patient</th>
                <th>Email</th>
                <th>Date</th>
                <th>Montant</th>
                <th>QR CODE</th>
                <th>Statut</th>
                <th>Stripe</th>
                </thead>
                <tbody>
                {% for interv in object_list %}
                    <tr>
                        <td>{{ interv.patient }}</td>
                        <td>{{ interv.patient.email }}</td>
                        <td>{{ interv.date|date:'d F Y' }}</td>
                        <td>{{ interv.amount }}€</td>
                        <td><h4><span class="badge text-bg-primary"
                                  style="cursor: pointer;"
                                  hx-trigger="click"
                                  hx-post="{% url 'create-qrcode' interv.uuid %}"
                                  hx-target="#qr">QR</span>
                        </h4></td>
                        {% if interv.payment_state == 'ATT' %}
                            <td><h4><span class="badge text-bg-warning">{{ interv.get_payment_state_display }}</span></h4></td>
                            {% else %}
                            <td><h4><span class="badge text-bg-success">{{ interv.get_payment_state_display }}</span></h4></td>
                        {% endif %}
                    <td><h4><a class="badge text-bg-primary" href="{% url 'create-check-out-session' interv.uuid %}">Stripe</a></h4></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4 mt-5" id="qr">
        </div>
    </div>
    </div>
{% endblock %}