{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h1>Interventions</h1>
            <table class="table">
                <thead>
                <th>Patient</th>
                <th>UUID</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Paiement</th>
                </thead>
                <tbody>
                {% for interv in object_list %}
                    <tr>
                        <td>{{ interv.patient }}</td>
                        <td>{{ interv.uuid }}</td>
                        <td>{{ interv.date|date:'d F Y' }}</td>
                        <td>{{ interv.amount }}€</td>
                        <td><span class="badge text-bg-primary"
                                  hx-trigger="click"
                                  hx-post="{% url 'create-qrcode' interv.uuid %}"
                                  hx-target="#qr">QR</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4 mt-5" id="qr">
        </div>
    </div>
    </div>
{% endblock %}